<div class="post" data-firstName="{{firstName}}" data-lastName="{{lastName}}">
    <div class="post-contents">
    <div class="post-image-container">
        <a href="{{password}}"><img src="{{confirmPassword}}" alt="{{firstName}}"></a>
    </div>
    <div class="post-info-container">
        <a href="{{password}}" class="post-title">{{firstName}}</a> <button type="button" id="myButton" class="action-button">Show lastName</button>
    </div>
    </div>
</div>


    <div id="myPopup" class="popup">
        <div class="popup-content">
            <a class ="post-title">{{lastName}}</a>
            <button id="closePopup">
                  Close
              </button>
        </div>
    </div>